/* =======================LEARN.HTML========================== */
#top-section .top-section-info-position
{
    margin: 10% auto 0% auto;
    background-color: #404040;
    padding: 2rem;
    border-radius: 25px;
    width: 92%
}
#top-section .top-section-info-position .paragraph
{
  letter-spacing: 1px;
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #f7f7e8;
  margin:auto;
  text-align: center;
}


.top-hr
{
  width: 80%;
  height:0.2rem;
  background-color:#0097BD;
}





.card
{
  z-index: 10;
  margin: 5% auto 70%;
  background-color: #404040 !important;
  color: white !important;
  border-radius: 7% !important;
  height: 20rem;
}
.item-center-heading
{
  margin-top: 5%;
  text-align: center;
}
.item-center-button-1
{
  margin-bottom: 5%;
  text-align: center;
}
.item-left
{
  text-align: left;
  width:80%;
  margin: auto;
  margin-top: 0;
}
.card-body-text
{
  font-size: 1.1rem;
  font-weight: 600;
}
.btn
{
  margin-top: 10%;
}

@media screen and (max-width: 1000px)
{
  .card
  {
    margin: 15% auto 10%;
  }
}




/* Background color of the dark section */
#top-section
{
  background-color: #00080A;
}



/* Footer */
.container-footer
{
  padding: 0rem;
  text-align: center;
}
.icon-footer
{
  margin: 2%;
  color: #00080A;
}
.icon-footer:hover
{
  margin: 2%;
  color: #0097BD;
}
.footer-copyright
{
  font-size: 1.1rem;
  font-weight: bold;
}











/* Universal code */
.container
{
  width: 70%;
  margin: auto;
}
/* Fonts */
.ubuntu,
{
  font-family: 'Ubuntu', sans-serif;
}

.poppins, .poppin
{
  font-family: 'Poppins', sans-serif;
}









/* Navbar */
.navbar-bg
{
  background-color: #00080A;
}
.nav-link
{
  color: #f7f7e8 !important;
}
.nav-link:hover
{
  color: #0097BD !important;
}


.navbar-brand
{
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-left: 2rem;
  letter-spacing: 4px;
  color: #f7f7e8 !important;
}
.nav-link
{
  font-size: 1.2rem !important;
}
.navbar-nav
{
  margin-right: 2rem;
}
